body {
    background-color: #FFFFFF;
}

.hide{
    display:none;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.menu.sidebar {
    z-index: 1000 !important;
    .logo.image{
        width: 35px;
        margin-right: 1em;
    }
}

a.item{
    cursor: pointer;
}

.ui.main.text.container {
    max-width: 1200px !important;
}
i.thumbs.up.icon{
    cursor: pointer;
}
table tbody tr td.ellipsis {
    max-width: 200px; /* 최대 너비 설정 */
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 '...'로 표시 */
}

@media only screen and (max-width: 767px) {
    div.ui.four.cards{
        margin-left: -1em;
        margin-right: -1em;

        .card{
            width: calc(50% - 2em);
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    div.extra .medium.label{
        display: none;
    }
}

.ui.fixed.inverted.menu {
    a.right.item:has(i.sidebar.icon){
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .ui.fixed.inverted.menu {
        div.item{
            display: none;
        }
        a.item[target=_blank]{
            display: none;
        }
        a.right.item:has(i.sidebar.icon){
            display: flex;
        }
    }
}